[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/USD"]
	path = third_party/USD
	url = https://github.com/PixarAnimationStudios/USD
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third_party/tbb"]
	path = third_party/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "third_party/hougeo"]
	path = third_party/hougeo
	url = https://github.com/nyue/hougeo.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/bgeo_reader"]
	path = third_party/bgeo_reader
	url = https://github.com/LaikaStudios/bgeo_reader.git
[submodule "third_party/glew"]
	path = third_party/glew
	url = https://github.com/nigels-com/glew.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/OpenImageIO"]
	path = third_party/OpenImageIO
	url = https://github.com/OpenImageIO/oiio.git
[submodule "third_party/OpenEXR"]
	path = third_party/OpenEXR
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "third_party/OpenCV"]
	path = third_party/OpenCV
	url = https://github.com/opencv/opencv.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/Imath"]
	path = third_party/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/alembic"]
	path = third_party/alembic
	url = https://github.com/alembic/alembic.git
[submodule "third_party/c-blosc2"]
	path = third_party/c-blosc2
	url = https://github.com/Blosc/c-blosc2.git
[submodule "third_party/openvdb"]
	path = third_party/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "third_party/tbb-2018"]
	path = third_party/tbb-2018
	url = https://github.com/dwaddington/tbb-2018.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "third_party/lz4_stream"]
	path = third_party/lz4_stream
	url = https://github.com/laudrup/lz4_stream.git
[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/shader-slang/slang.git
