[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/shader-slang/slang.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/USD"]
	path = third_party/USD
	url = https://github.com/PixarAnimationStudios/USD
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third_party/tbb"]
	path = third_party/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "third_party/hougeo"]
	path = third_party/hougeo
	url = https://github.com/nyue/hougeo.git
[submodule "third_party/antlr4"]
	path = third_party/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/bgeo_reader"]
	path = third_party/bgeo_reader
	url = https://github.com/LaikaStudios/bgeo_reader.git
[submodule "third_party/glew"]
	path = third_party/glew
	url = https://github.com/nigels-com/glew.git
[submodule "third_party/-b"]
	path = third_party/-b
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
