# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python
*.pyc

# folders
build
build/
venv
venv/
third_party/*/build/
third_party/external
third_party/external/
third_party/FreeImage/Dist
third_party/FreeImage/Dist/
third_party/slang/bin
third_party/slang/bin/
third_party/boost_1_75_0/bin.v2

# lava textures
*.ltx
