# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python
*.pyc

# version
src/version.cpp

# folders
deps
deps/
tmp
tmp/
Dist
Dist/
build
build/
build_external
build_external/
venv
venv/
env
env/

third_party/null.cpp
third_party/external
third_party/external/
!third_party/tiff-4.0.9/*

# lava textures
*.ltx

third_party/freeimage/
third_party/downloads/
install/
.vs/
.vscode/
